@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  strokewidth: 1;
}

.trapesium-indigo-900 {
  @apply w-full bg-indigo-900 inset-0;
  content: "";
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}

.trapesium-indigo-500 {
  @apply w-full bg-indigo-900 inset-0;
  content: "";
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}

.trapesium-white {
  @apply w-full bg-white inset-0;
  content: "";
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}

.time {
  font-size: 32px;
}

.hijaupucat {
  background-color: #0b9a94;
}
.kuningkhas {
  background-color: #fcc72b;
}
.birukhas {
  background-color: #62bec9;
}
.hijaukhas {
  background-color: #a7c748;
}
.merahkhas {
  background-color: #ee846e;
}

.text-kuningkhas {
  color: #fcc72b;
}
.text-birukhas {
  color: #62bec9;
}
.text-hijaukhas {
  color: #a7c748;
}
.text-merahkhas {
  color: #ee846e;
}

